<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--import script files needed from plotly and bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    <link rel="stylesheet" type="text/css" href="static/css/mystyle.css">

    <title>My PV Dashboard</title>

</head>

<body>

    <!--navbar links-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="#">Data Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Other Link</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--middle section-->
    <div class="row">

        <!--social media buttons column-->
        <div class="col-1 border-right">
            <div id="follow-me" class="mt-3">
                <a href="#">
                    <img src="/static/img/linkedinlogo.png" alt="linkedin" class="img-fluid mb-4 ml-2">
                </a>
                <a href="#">
                    <img src="/static/img/githublogo.png" alt="github" class="img-fluid ml-2">
                </a>
            </div>
        </div>

        <!--visualizations column-->
        <div class="col-11">

            <!--chart descriptions-->

            <div id="middle-info" class="container mt-3">

                <h2 id="tag-line">Data Dashboard</h2>
                <h4 id="tag-line" class="text-muted">Sub-header</h4>

            </div>


            <!-- input form -->
            <div id="user-input" class="container mt-3 ">

                <form method="POST" action="/" id="user-input-form" class="">

                    <div class="row align-items-center mb-2">
                        <div class="col-3">
                            <div class="form-floating">
                                <input type="latitude" name="latitude" class="form-control" placeholder="latitude"
                                    aria-label="latitude" autofocus required>
                                <label for="latitude">latitude</label>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="form-floating">
                                <input type="longitude" name="longitude" class="form-control" placeholder="longitude"
                                    aria-label="longitude" required>
                                <label for="longitude">longitude</label>
                            </div>
                        </div>
                    </div>


                    <div class="row align-items-center mb-2">
                        <div class="col-3">
                            <div class="input-group">
                                <div class="form-floating">
                                    <input type="nameplate" name="nameplate" class="form-control" id="nameplate"
                                        placeholder="e.g 3" value=3 aria-describedby="nameplate-help" required>
                                    <label for="nameplate">Peak power</label>
                                </div>
                                <span class="input-group-text" id="basic-addon2">kWp</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <span id="nameplate-help" class="form-text">Nominal power of the system in
                                kilowatts-peak.</span>
                        </div>
                    </div>

                    <div class="row  align-items-center mb-2">

                        <div class="col-3">
                            <input type="slope" name="slope" class="form-control " id="slope" placeholder="Tilt"
                                aria-describedby="slope-help" required>
                        </div>
                        <div class="col-3">
                            <span id="slope-help" class="form-text">0 deg = flat surface</span>
                        </div>
                    </div>


                    <div class="row  align-items-center mb-2">

                        <div class="col-3">
                            <input type="azimuth" name="azimuth" class="form-control " id="azimuth"
                                placeholder="Azimuth" aria-describedby="azimuth-help" required>
                        </div>
                        <div class="col-3">
                            <span id="azimuth-help" class="form-text"> -90° is East, 0° is South and 90° is
                                West.</span>
                        </div>
                    </div>


                    <button type="submit" id="button-submit" class="btn btn-primary"
                        onclick="validateStyles()">Submit</button>

                </form>

            </div>

            <!--charts-->
            <div id="charts-container" class="container mt-3 text-center">
                <!-- charts be inserted here -->
            </div>

            <!--footer section-->
            <div id="footer" class="container"></div>

</body>


<footer>

    <!-- <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{ figuresJSON | safe}};
        var ids = {{ ids | safe}};
        for (var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script> -->

    <script>
        // On click, validate
        function validateStyles() {
            // this method of appending classes names works in ALL browsers
            var element, name, arr;
            element = document.getElementById("user-input-form");
            name = "was-validated";
            arr = element.className.split(" ");
            if (arr.indexOf(name) == -1) {
                element.className += " " + name;
            }
        }

        //  overriding form submit to be able to do AJAX
        // thanks again DO https://www.digitalocean.com/community/tutorials/submitting-ajax-forms-with-jquery
        $(document).ready(function () {
            // process the form
            $('#user-input').submit(function (event) {
                // get form data
                // TODO
                console.log("ajax : form submited")
                var formData = {
                    'latitude': $('input[name=latitude]').val(),
                    'longitude': $('input[name=longitude]').val(),
                    'nameplate': $('input[name=nameplate]').val(),
                    'slope': $('input[name=slope]').val(),
                    'azimuth': $('input[name=azimuth]').val()
                };

                // process form
                $.ajax({
                    type: 'POST',
                    url: '/', // the url where we want to POST
                    data: formData,
                    dataType: 'json', // what type of data do we expect back from the server
                    encode: true
                })
                    // using the done promise callback
                    .done(function (data) {
                        //log data to the console 
                        console.log('ajax: got server response');
                        console.log(data);
                        // here we will handle errors and validation messages
                    });
                // stop the form from submitting the normal way and 
                // refreshing the page
                event.preventDefault();
            });
        });
    </script>



</footer>


</html>